@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>*@
    <h3>About</h3>

    <p>A shoe inventory application.</p>
    <p>A software engineering porfolio by Joel Goh C.H.</p>
</main>